.step-circles-fixed {
  display: flex;
  justify-content: flex-start;
  gap: 50px;
  position: relative;
  margin-bottom: 15px;
}

/* วงกลม */
.step-circle {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #eee;
  color: #555;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 13px;
  position: relative;
  z-index: 1;
}

/* เส้นเชื่อมแต่ละวง */
.step-circle::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 120%; 
  height: 2px;
  width: 50px; 
  background-color: #eee;
  transform: translateY(-50%);
  z-index: 0;
}

/* วงสุดท้ายไม่มีเส้น */
.step-circle:last-child::after {
  display: none;
}

/* completed & active */
.step-circle.completed {
  background-color: #4F39F6;
  color: white;
}

.step-circle.completed::after {
  background-color: #4F39F6;
}

.step-circle.active {
  border: 2px solid #4F39F6;
  background-color: white;
  color: #4F39F6;
}