/* styles/TripDatePicker.css */
.react-datepicker-custom {
  width: 3rem;
  font-size: 10rem;
}
.react-datepicker__header {
  height: 3rem;
  font-size: 1rem;
  background-color: #ececec !important;
  display: flex;          
  align-items: center;   
  justify-content: center; 
}
.react-datepicker__day-name {
  width: 5rem;
  height: 3rem;
  line-height: 3rem;
  font-size: 1rem;
  text-align: center;
}

.react-datepicker__day {
  width: 5rem;
  height: 3rem;
  line-height: 3rem;
  font-size: 1rem;
  text-align: center;
}
.react-datepicker__day--in-range {
  background-color: #dce3fb !important; 
  color: gray;
}
/* วันที่เริ่มต้นของช่วง */
.react-datepicker__day--range-start {
  background-color: #355dfb !important;
  color: #ffffff !important;
}

/* วันที่สิ้นสุดของช่วง */
.react-datepicker__day--range-end {
  background-color: #355dfb !important;
  color: #ffffff !important;
}

.react-datepicker__navigation--next {
  right: 10px;  /* ปรับระยะจากขอบขวา */
  top: 10px;     /* จัดกลางแกน Y */

}

/* ปรับขนาดลูกศรย้อนกลับ */
.react-datepicker__navigation--previous {
  left: 10px;   
  top: 10px;      
  
}

/* ถ้าต้องการปรับขนาดลูกศร */
.react-datepicker__navigation {
  width: 2rem;
  height: 2rem;
}